{
  "extends": ["airbnb", "prettier", "plugin:react-perf/recommended"],
  "plugins": ["babel", "react-native", "react-perf"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
  }
}
