{
  "extends": ["airbnb", "prettier", "eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:react-perf/recommended"],
  "plugins": ["import","babel", "@typescript-eslint", "react-native", "react-perf", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react-native/no-unused-styles": 2,
    "react-native/no-inline-styles": 2,
    "react/jsx-filename-extension": 0,
    "react-perf/jsx-no-new-function-as-prop": 0,
    "arrow-body-style": 0,
    "react/prop-types": 0,
    "no-unused-expressions": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/object-curly-spacing": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/no-unresolved": "error",
    "react/no-unused-prop-types": "off",
    "camelcase": "off"
  },
  "env": {
    "jest": true,
    "browser": true,
    "node": true,
    "react-native/react-native": true
  },
  settings: {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "app"
      }
    }
  }
}
